@import "tailwindcss";

@theme {
  --color-veda-orange: #f26644;
  --color-veda-dark: #2d2d2d;
  --color-veda-bg: #f5f5f7;
  --color-veda-sidebar: #ffffff;
}

body {
  background-color: var(--color-veda-bg);
  color: var(--color-veda-dark);
}
